/* navBar.css */

.navbar {
  background-color: #343a40;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-link {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

.cart-icon {
  margin-left: auto;
}